body{
    background-color: #000;
    color: white;
}

.anime{
    font-family: Papyrus, fantasy;
    font-size: 3rem;
    text-shadow: white;
    color: red;
    text-align: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #121212;
}

.card{
    padding: 15px;
    margin: 15px;
    height: 25rem;
   overflow: hidden;
    background-color: #232323;
    border-radius: 5px;
}
.card:hover{
    border: 5px solid rgba(3, 216, 253, 0.582);
    overflow: auto;
}
h1{
    text-align: start;
}